.container {
    border-radius: 10px;
    box-shadow: 0 0 10px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.data-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    
}